<div class="container">
  <div class="card-div-left">
    <app-info-card class="card">Hi, I'm Justin Maloney</app-info-card>
  </div>
  <div class="image-div-right">
    <img
      src="../../../assets/images/profile_pic.jpg"
      alt="picture of justin maloney"
      class="image-avatar"
    />
  </div>
</div>
<div class="container">
  <div class="image-div-left">
    <img
      src="../../../assets/images/LM-logo.png"
      alt="Lockheed Martin Logo"
      class="image"
    />
  </div>
  <div class="card-div-right">
    <app-info-card class="card"
      >I'm a Senior Software Engineer at Lockheed Martin</app-info-card
    >
  </div>
</div>
