<div class="container">
  <div class="card-div-left">
    <app-info-card class="card">Hi, I'm Justin Maloney, --> AI Image</app-info-card>
  </div>
  <div class="image-div-right">
    <img
      src="../../../assets/images/profile_pic.png"
      alt="picture of justin maloney"
      class="image-avatar"
    />
  </div>
</div>
<div class="container">
  <div class="image-div-left">
    <img
      src="../../../assets/images/LM-logo.png"
      alt="Lockheed Martin Logo"
      class="image"
    />
  </div>
  <div class="card-div-right">
    <app-info-card class="card"
      >I'm a Senior Software Engineer at Lockheed Martin</app-info-card
    >
  </div>
</div>
<div class="container">
  <div class="card-div-left">
    <app-info-card class="card">I have a Bachelor of Science in Computer Science from Virginia Tech</app-info-card>
  </div>
  <div class="image-div-right">
    <img
      src="../../../assets/images/Horizontal_VT_Full_Color_RGB.png"
      alt="Virginia Tech Logo"
      class="image"
    />
  </div>
</div>
<div class="container">
  <div class="image-div-left">
    <img
      src="../../../assets/images/Virginia-Western_Gold.png"
      alt="Virginia Western Logo"
      class="image"
    />
  </div>
  <div class="card-div-right">
    <app-info-card class="card"
      >....as well as an Associate of Science in Computer Science from Virginia Western Community College</app-info-card
    >
  </div>
</div>
