<mat-toolbar class="tool-bar">
  <button mat-raised-button color="primary" class="tool-bar-button">Home</button>
  <button mat-raised-button color="primary" class="tool-bar-button">About</button>
  <button mat-raised-button color="primary" class="tool-bar-button">Contact</button>
  <button mat-raised-button color="primary" class="tool-bar-button">
    <mat-icon inline="true">cloud_download</mat-icon>
    Resume
  </button>
  <button mat-fab color="primary" class="theme-toggle-button" (click)="switchTheme()" matTooltip="Click to dark mode">
    <mat-icon *ngIf="currentTheme() === 'dark'">dark_mode</mat-icon>
    <mat-icon *ngIf="currentTheme() === 'light'">light_mode</mat-icon>
  </button>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
