.tool-bar {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  position: relative;
  background-color: transparent;
  padding: 10px;

  .tool-bar-button {
    width: 120px!important;
    min-width: unset!important;
    margin: 0 5px;
  }

  .theme-toggle-button {
    margin-left: auto;
    margin-right: 0;
  }
}

.main-content {
  height: vh;
}
