.nav-bar-buttons
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

.button-icon
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  vertical-align: middle;

.icon-button::part(container)
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

.icon-button img
  width: 26px;
  height: 26px;
  display: block;
  fill: black

