@use '@angular/material' as mat;

@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
    50 : #e1efff,
    100 : #b3d6fe,
    200 : #80bbfd,
    300 : #4da0fc,
    400 : #278bfc,
    500 : #0177fb,
    600 : #016ffa,
    700 : #0164fa,
    800 : #015af9,
    900 : #0047f8,
    A100 : #ffffff,
    A200 : #ebf0ff,
    A400 : #b8c8ff,
    A700 : #9fb4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
    50 : #e1efff,
    100 : #b3d6fe,
    200 : #80bbfd,
    300 : #4da0fc,
    400 : #278bfc,
    500 : #0177fb,
    600 : #016ffa,
    700 : #0164fa,
    800 : #015af9,
    900 : #0047f8,
    A100 : #ffffff,
    A200 : #ebf0ff,
    A400 : #b8c8ff,
    A700 : #9fb4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);
